playground
**/dist/*
**/etcdenv
!**/sensu-*-client/*.{go,rb}
!**/sensu-*-client/release
!**/sensu-*-client/Dockerfile
!**/sensu-host-client/dist/sensu-host-client
clients/*/sensu-*-client
handlers/*/sensu-*-handler
