[Unit]
Description=Sensu fleet client
After=docker.service

[Service]
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStartPre=/usr/bin/docker pull upfluence/%p
ExecStart=/usr/bin/docker run --rm --name %p -e SENSU_HOSTNAME=$(hostname) \
  -e SENSU_ADDRESS=${COREOS_PRIVATE_IPV4} upfluence/sensu-fleet-client
ExecStartPost=/usr/bin/etcdctl set /sensu/checks/%p \
  '{ "command": "ruby check-fleet-status.rb", \
     "interval":60, "subscribers": ["fleet"] }'
